.tape-element {
    font-size: 1.3rem;
    width: 2.8rem;
    height: auto;
    text-align: center;
    vertical-align: middle;
}

.pointed {
    border-width: 0.2rem;
    border-style: solid;
    border-color: black;
}

.arrow{
    border-bottom: 40px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    float: left;
}