.stack-element {
    font-size: 1.3rem;
    width: 2.8rem;
    height: auto;
    text-align: center;
    vertical-align: middle;
    margin: auto
}

.stack-card {
    text-align: center;
    align-items: center;
}