@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

header {
    border-bottom: 2px solid green;
    margin-bottom: 3%;
}

.logo {
    font-family: 'Share Tech Mono', monospace !important;
    font-size: 2rem;
    font-weight: bolder;
}

.logo:hover {
    color: green;
}

.no-decoration {
    text-decoration: none;
}